<aside class="compare-bar is-opened" data-compare-bar>
  <div class="compare-bar-header">
    <h1 class="compare-bar-title" data-compare-title>{{lang 'collections.compare.heading'}}</h1>

    <div class="compare-bar-buttons">
      <button type="submit" class="button compare-bar-submit" data-compare-bar-submit>
        {{lang 'collections.compare.submit'}}
      </button>

      <button type="button" class="button secondary compare-bar-toggle" data-compare-bar-toggle>
        {{lang 'collections.compare.close_bar'}}
      </button>
    </div>
  </div>
  <div class="compare-bar-content" data-compare-bar-preview></div>
</aside>
