<div class="footer-attribution">
  <span class="footer-copyright">
    &copy; <script>document.write(new Date().getFullYear())</script> {{{ settings.store_name }}}
  </span>

  {{#if theme_settings.theme-credits}}
    <span class="footer-credits">
      {{{
        lang 'footer.theme_attribution'
        theme_name='Hero'
        developed='<a href="http://pixelunion.net" target="_blank">Pixel Union</a>'
        powered_by='<a href="https://www.bigcommerce.com/" target="_blank" rel="nofollow">BigCommerce</a>'
      }}}
    </span>
  {{/if}}
</div>
