
{{{snippet 'search'}}}

{{#if product_results.products}}
  <form class="form" action="/compare" method="POST" data-compare-form>
    {{#each product_results.products}}
      {{> components/product/product-item this show_quickshop=true show_rating=../settings.show_product_rating show_compare=../search.show_compare default_image=../theme_settings.default_image}}
    {{/each}}

    {{#if product_results.show_compare}}
      {{> components/common/collections/compare-bar}}
    {{/if}}
  </form>
{{else}}
  <p class="no-product-results">
    {{#if forms.search.query.length}}
      {{lang 'search.empty_for'}} <strong>"{{forms.search.query}}"</strong>
    {{else}}
      {{lang 'search.empty'}}
    {{/if}}
  </p>
{{/if}}
